@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: #4F4F4F;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: black;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  color: #4F4F4F;
}

/* body:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #4F4F4F;
  z-index: 1;
  margin-left: 8vw;
} */

h2 {
  font-size: 200px;
  font-weight: 600;
  letter-spacing: 20%;
  margin-right: -0.5em;
  text-transform: capitalize;
  width: 90vw;
  max-width: 1200px;
}

h2, h3{
  font-family: "Raleway", sans-serif;
}

footer, nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
  bottom:0
}

nav{
  justify-content: flex-start;
  z-index: 10;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

section .bg:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #4F4F4F;
  z-index: 1;
  margin-left: 12vw;
}

section .bg h2 {
  z-index: 2;
}
section .bg .clip-text {
  overflow: hidden;
}

section .bg {
  background-color: #fff;
}

h2 * {
  will-change: transform;
}

h2.section-heading {
  background-color: #fff;
  position: relative;
}

nav a.disabled{
  opacity: 0.5;
  pointer-events: none;
}
.nav {
  background: #fff;
  padding: 20px;
}

.container{
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  max-height: 800px;
}

section.first .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.first h2{
  font-size: 130px;
  margin: 0 auto;
}

section h3{
  background-color: #fff;
  position: relative;
  z-index: 20;
}

section.first h3{
  background-color: #fff;
  position: relative;
  z-index: 20;
  padding: 5px 0;
  font-size: 1.17em;
}

section h3{
  font-size: 48px;
}